<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://wwww.thymeleaf.org">
    <head th:fragment="head">
        <title>Donde Papá</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/css/estilos.css"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
        <script th:src="@{/js/rutinas.js}"></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/"
                    <img src="https://lh3.googleusercontent.com/p/AF1QipMdytT-WWYtTxaE9540DeK5ts_bYWZwY4o6h8po=s680-w680-h510" alt="Donde Papá Restaurant Logo" height="60">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/navegar/listado">Navegar Menú</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reservacion/listado">Reservar mesa</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <section main th:fragment="main">
        <main role="main" class="container">
            <div class="text-center">
                <h1>Gracias por su compra</h1>
                <p>Estamos preparando su orden con mucho cuidado y será enviada pronto.</p>
                <a href="/" class="btn btn-primary">Volver a la página principal</a>
            </div>
        </main>
            </section>
        <footer th:fragment="footer" class="footer">
            <div class="container">
                <span class="text-muted">©2024 Donde Papá Restaurant. Todos los derechos reservados.</span>
            </div>
        </footer>
    </body>
</html>
