<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://wwww.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <!-- 1 Sección para mostrar los platos en bonito -->
        <!-- Visible para todos, sin restricciones de seguridad aplicadas -->
        <section th:fragment="listadoPlato">
            <div class="row row-cols-3">
                <div class="card p-2" th:each="p : ${platos}">
                    <figure>
                        <img th:src="${p.rutaImagen}"
                             height="200"
                             alt="Imagen del plato"/>
                        <figcaption>
                            ¢[[${p.precio}]] 
                        </figcaption>
                    </figure>
                    <div class ="card-header">
                        <h4> [[${p.descripcion}]]</h4>
                    </div>
                    <div class="card-body">
                        <p class = "card-text">[[${p.detalle}]]</p>
                    </div>
                </div>
            </div>
        </section>
       
    

        <!-- 3 Fragmento para filtros de búsqueda de platos -->
        <!-- Sin restricciones, accesible para todos -->
        <section th:fragment="filtros">
            <div class="container">
                <div class="card">
                    <form method="post" th:action="@{/filtrar/query1}">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="precioInf">Precio Inferior</label>
                                    <input type="number" 
                                           class="form-control" 
                                           th:value="${precioInf}" 
                                           th:name="precioInf" 
                                           required="true" /> 
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <label for="precioSup">Precio Superior</label>
                                            <input type="number" 
                                                   class="form-control" 
                                                   th:value="${precioSup}" 
                                                   th:name="precioSup" 
                                                   required="true" /> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class ="card-footer text-center">
                                <button type="submit"
                                        class="btn btn-primary">
                                    <i class="fas fa-check"></i> Consultas Ampliadas
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>
