<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <!-- 1 Sección para mostrar los platos en "bonito" -->
        <section th:fragment="listadoPlatos">
            <div class="row row-cols-2">
                <h2>Nuestros Platos</h2>

                <div id="resultsBlock">

                </div>
            </div>            

            <div class="row row-cols-3">
                <div class="card p-2" th:each="p : ${platos}">
                    <figure>
                        <img th:src="@{${p.rutaImagen}}" 
                             height="200" 
                             alt="Imagen del plato" th:alt="${p.descripcion}"/>
                        <figcaption>
                            ¢[[${p.precio}]] ([[${p.existencias}]])
                        </figcaption>
                    </figure>

                    <form onsubmit="addCard(this); return false;">
                        <input type="hidden" name="idPlato" th:value="${p.idPlato}" />
                        <button class="btn btn-light" type="submit">
                            <i class="fas fa-cart-plus"></i>
                        </button>
                    </form>
                    <div class="card-header">
                        <h4 th:text="${p.descripcion}"></h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:text="${p.detalle}"></p>
                    </div>
                </div>                
            </div>
        </section>

        <!-- 2 para ver la info del carrito -->
        <section th:fragment="verCarrito">
            <form action="/carrito/listado" method="get">
                <button class="btn btn-primary">
                    <i class="fas fa-cart-plus"></i> Ver Carrito [[${listaTotal}]]
                </button>
            </form>
        </section>

        <!-- 3 se muestra el listado de items del carrito de compras -->
        <section th:fragment="listadoCarrito" id="items">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Carrito de Compras</h4>
                            </div>
                            <div th:if="${listaItems != null and !listaItems.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>Descripcion</th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                            <th>Total</th>

                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item : ${listaItems}">
                                            <td>[[${item.idPlato}]]</td>
                                            <td>[[${item.descripcion}]]</td>
                                            <td>[[${item.precio}]]</td>
                                            <td>[[${item.cantidad}]]</td>
                                            <td>[[${item.precio*item.cantidad}]]</td>


                                            <td ><a th:href="@{/carrito/eliminar/}+${item.idPlato}"
                                                    class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar</a>
                                                <a th:href="@{/carrito/modificar/}+${item.idPlato}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Actualizar</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${listaItems == null or listaItems.empty}">
                                <span>Carrito Vacío</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>Compra Total</h3>
                                <h4 class="fs-2"><i class="fas fa-money-bill-wave"></i> [[${carritoTotal}]]</h4>
                            </div>
                        </div>

                    </div>
                    <div class="card text-center bg-primary text-white mb-3">
                        <div class =" card-body">
                            <a th:href="@{/index2}"
                               class="btn btn-primary">
                                <i class="fas fa-reply"></i> Seguir Comprando
                            </a>
                        </div>
                    </div>
                    <div class="card text-center bg-success text-white mb-3">
                        <div class="card-body">
                            <a th:href="@{/facturar/carrito}" class="btn bg-success text-white mb-3">
                                <i class="fas fa-forward"></i> Facturar
                            </a>
                        </div>
                    </div>


                </div>
            </div>
            
        </section>
        <!-- 3 FRAGMENTO PARA MODIFICAR EL CARRITO -->
        <section th:fragment="modificaItem">
            <div class="row p-3"> 
                <a th:href="@{/carrito/listado}"
                   class="btn btn-primary">
                    <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                </a>
            </div>
            <div class="row row-cols-2">
                <div class="card">
                    <div class="card-header">
                        Datos del Carrito
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">[[${item.descripcion}]]</h5>
                        <h6 class="card-subtitle mb-2 text-muted">[[${item.precio}]] ([[${item.existencias}]])</h6>
                        <p class="card-text">[[${item.detalle}]]</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <figure>
                        <img th:src="@{${item.rutaImagen}}" height="200" alt="Imagen del Plato" />
                    </figure>
                    <div class="row">
                        <form th:action="@{/carrito/guardar}" method="post" th:object="${item}">
                            <input type="hidden" th:field="*{idPlato}" />
                            <input type="number" name="cantidad" th:field="*{cantidad}" min="1" th:max="${item.existencias}" class="form-control" />
                            <button class="btn btn-success" type="submit">
                                <i class="fas fa-save"></i> Guardar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>



    </body>
</html>
