<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>TechShop</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"></header>
    <div class="row m-5 justify-content-md-center">
        <div class="col-md-4"> 
            <div class="card">
              <div class="card-header" style="background-color: brown; color: whitesmoke;">


                    <h2>Iniciar Sesión</h2>
                </div>
                <div class="card-body"> 
                    <form method="post" th:action="@{/login}">
                        <div class="row my-3 form-group"> 
                            <label class="col-md-5" for="username">
                                <i class="fas fa-user-lock"></i>usuario
                            </label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" name="username" id="username"/>
                            </div>
                        </div>
                        <div class="row my-3 form-group">
                            <label class="col-md-5" for="password">
                                <i class="fas fa-key"></i> Clave
                            </label>
                            <div class="col-md-7">
                                <input class="form-control" type="password" name="password" id="password"/>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a th:href="@{/registro/nuevo}" class="btn btn-primary">
                                <i class="fas fa-user-plus"></i> Registrar
                            </a>
                            <a th:href="@{/registro/recordar}" class="btn btn-info">
                                <i class="fas fa-envelope"></i> Recordar
                            </a>
                            <button class="btn btn-success" type="submit">
                                <i class="fas fa-sign-in-alt"></i> login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{layout/plantilla :: footer}"></footer>     
</body>
</html>
